.main-header {
    padding: 10px 0;

    .dropdown-toggle::after {     // subnav arrow
        vertical-align: middle;
    }

    .logo {
        img {
            width: 120px;
        }
    }

    .navbar-nav {
        .dropdown-menu {
            margin-top: 0;
            padding: 0;

            @include media-breakpoint-only(xs) {
                display: block;
                border: 0;
            }

            .dropdown-item {
                font-weight: bold;
                padding: 12px 24px;
            }
        }
    }

    // enable hover in bootstrap dropdowns
    .dropdown:hover>.dropdown-menu {
      display: block;
    }

    .navbar-nav  {
        @include media-breakpoint-up(sm) { // nav on the right in desktop
            margin-left: auto;
        }
    }
    //
    // Mobile menu styles
    //
    @include media-breakpoint-only(xs) {
        .navbar-toggler {
            cursor: pointer;
            border: none;
            outline: none;
        }
    }
}
