.hero {
  position: relative;
  overflow: hidden;
  height: auto;

  .hero-title {
    width: 100%;
    padding: 15px 30px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 75%);
    color: $white;

    @include media-breakpoint-up(sm) {
      position: absolute;
      bottom: 0;
    }
  }

  @include media-breakpoint-up(sm) {
    max-height: 80vh;
  }
}
