.component-share-buttons {

    .share-title {
        font-weight: bold;
    }

    .share-buttons {
        a {
            @include media-breakpoint-only(xs) {
                display: block;
            }
        }
    }

}
