{% extends "layout.twig" %}

{% block content %}
    <div class="container">
        <div class="row page-container">
            <div class="col-sm-9 content page-404">
                <article class="post">
                    {% if post %}
                        <h1>{{ post.post_title }}</h1>

                        {{ post.get_content }}
                    {% else %}
                        <h1>Not Found</h1>
                    {% endif %}
                </article>
            </div>
        </div>
    </div>

    <script>
        if ( typeof ga === "function" ) {
            ga('send', 'event', 'Errors', '404 Not Found', document.location.pathname + document.location.search + '&ref=' + document.referrer, {'nonInteraction': 1});
        }
    </script>
{% endblock %}
