{% extends 'layout.twig' %}

{% block content %}
  <section class="section-padded">
    <article class="container-narrow flex flex-col gap-y-4" id="post-{{ post.ID }}">
      <h1>{{ post.post_title }}</h1>
      <div class="typography">{{ post.content }}</div>
    </article>
  </section>
{% endblock %}
