{% extends "layout.twig" %}

{% block content %}
    {% include "partials/hero.twig" %}
    <section class="section-padded bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-10 text-center">
                    {{ post.content }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
