{% extends "layout.twig" %}

{% block content %}
    {% include "partials/hero.twig" %}

    <section class="section-padded bg-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-center">
                    <h3>{{ title|dummy(5) }}</h3>
                    {{ title|dummy(100)|wpautop }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
