# BEGIN CUSTOM
<IfModule mod_rewrite.c>

    ## Rewrite no-www to www
    RewriteCond %{HTTP_HOST} ^unsettled.loc$
    RewriteRule (.*)$ http://www.unsettled.loc/$1 [R=301,L]

    ## Rewrite images if hosting locally
    ## Allows us to pull staging server SQL and use same images
    RewriteCond %{HTTP_HOST} =localhost:8888$ [OR]
    RewriteCond %{HTTP_HOST} =localhost:3000$ [OR]
    RewriteCond %{HTTP_HOST} =localhost:3002$ [OR]
    RewriteCond %{HTTP_HOST} ^www.unsettled.loc$ [OR]
    RewriteCond %{HTTP_HOST} ^unsettled.loc$
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^wp-content/uploads/(.*)$ http://unsettled.wpengine.com/wp-content/uploads/$1 [L]

    # Simple 404 for missing files
    <FilesMatch "(\.jpe?g|gif|png|bmp|ico)$">
      ErrorDocument 404 "File Not Found"
    </FilesMatch>

</IfModule>
# END CUSTOM

# BEGIN WordPress
<IfModule mod_rewrite.c>
    ## Remove index.php from all URLs
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
# END WordPress
