# BEGIN CUSTOM
<IfModule mod_rewrite.c>

    ## Rewrite images if hosting locally
    ## Allows us to pull staging server SQL and use same images
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^wp-content/uploads/(.*)$ http://bubstimber.wpengine.com/wp-content/uploads/$1 [L]

    # Simple 404 for missing files
    <FilesMatch "(\.jpe?g|gif|png|bmp|ico)$">
      ErrorDocument 404 "File Not Found"
    </FilesMatch>

</IfModule>
# END CUSTOM

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
