<footer class="section-padded">
  <div class="container-default">
    <div class="flex flex-col gap-16 md:flex-row">
      <div class="w-full md:w-[30%]">
        <a class="mb-8 block" href="/"><img src="{{ img_dir }}/logo-orange.svg" alt="{{ site.title }}" /></a>
        <div class="flex flex-row gap-4 items-center w-full">
          <span class="whitespace-nowrap">Follow Us:</span>
          {% include 'components/social-icons.twig' with {
            ul_classes: 'list-inline social-links flex flex-grow flex-row gap-4 items-center mb-0',
            li_classes: '',
            a_classes: '',
            svg_classes: 'fill-primary hover:scale-110 transition-scale duration-200'
          } %}
        </div>
      </div>
      <div class="w-full md:w-1/2">
        <h4 class="text-lg font-bold mb-4">Get Updates</h4>
        <form class="w-full max-w-sm">
          <div class="flex items-center border-b border-teal-500 py-2">
            <input class="w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
              type="email"
              placeholder="Email Address"
              aria-label="Email Address" />
            <button class="btn-primary" type="button">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="w-full md:w-1/5">
        <!-- Content for the third column goes here -->
        Footer Nav
      </div>
    </div>
    <div class="mt-8 border-t text-center border-primary md:border-gray-200 md:text-left">
      <p>
        {{
          gv.footer_copyright|replace({
            '<%= year %>': 'now'|date('Y')
          })
        }}
      </p>
    </div>
  </div>
</footer>
