.btn {
    font-family: $font-family-sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;

    @include media-breakpoint-up(sm) {
        padding: 15px 30px;
    }

    &.btn-primary {
        background-color: theme-color('primary');
        color: $white;
    }

    // &.btn-secondary {
    // background-color: theme-color('secondary');
    // }
}
