{# Optional parameter custom hero_img #}
{% if not hero_img %}
    {% if post.thumbnail %}
        {% set hero_img = post.thumbnail %}
    {% else %}
        {# Starter default image for bubs only. Feel free to adjust or remove this else clause #}
        {% set hero_img =
            TimberImage('https://placeimg.com/1600/650/nature/grayscale')
        %}
    {% endif %}
{% endif %}

{% if not hero_title %}
    {% if post.title %}
        {% set hero_title = post.title %}
    {% else %}
        {# Starter default title for bubs only. Feel free to adjust or remove this else clause #}
        {% set hero_title = 'Test Hero Title' %}
    {% endif %}
{% endif %}

{% if hero_img %}
    <div class="hero-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="hero">
                        <img src="{{ hero_img.src|resize(1500) }}"
                            alt="{{ hero_img.caption }}" />

                        <div class="hero-title"><h2>{{ hero_title }}</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
