<div class="container-default">
  {% include 'components/section-heading.twig' with {
    section_header: post.section_header,
    section_heading: post.section_heading,
    section_intro: post.section_intro,
    section_btn: post.section_btn,
    text_alignment: post.text_alignment
  } %}
  <article class="prose lg:prose-xl">{{ post.wysiwyg_content }}</article>
</div>
