// layout
$section-spacing: 60px;
$section-spacing-mobile: 30px;

// type
$font-sans: 'Source Sans Pro', 'Myriad Pro', 'Helvetica', helvetica, arial, sans-serif;
$font-thin: 300;
$font-icon: 'bootstrap-icons';

// colors
$white: #fff;
$black: #000;
$gray: #e8e8e8;
$orange: #ff4e00;
$blue: #006bb6;
$color-email: #138bfd;
$color-facebook: #3b5998;
$color-twitter: #55acee;

// spacing
// we set spacing in 10px increments, allowing up to 10, e.g. p-10.
// we also enable negative spacers
$spacer-px: 10px;
$spacer: rem-calc(10px);
$spacers: (
  0: 0,
  1: 1 * $spacer-px,
  2: 2 * $spacer-px,
  3: 3 * $spacer-px,
  4: 4 * $spacer-px,
  5: 5 * $spacer-px,
  6: 6 * $spacer-px,
  7: 7 * $spacer-px,
  8: 8 * $spacer-px,
  9: 9 * $spacer-px,
  10: 10 * $spacer-px,
  11: 11 * $spacer-px,
  12: 12 * $spacer-px,
);

//
// bootstrap vars -- customize bootstrap here, leave vendor files untouched
//

$font-family-sans-serif: $font-sans;
$headings-font-family: $font-family-sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.5;
$grid-gutter-width: 30px;

// bootstrap theme colors (see docs for further customizations available)
$primary: $orange;
$secondary: $blue;
$dark: #24242c;
$body-color: #444; // $text-color

// main theme colors.  Example usage: background-color: theme-color('blue');
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'dark': $dark,
);

// example other colors. Example usage: background-color: color('blue');
// $colors: (
//     "gray-light": $gray-light,
//     "blue" : $blue,
// );
