// layout
$section-spacing: 60px;
$section-spacing-mobile: 30px;

// type
$font-sans: "Source Sans Pro","Myriad Pro","Helvetica",Helvetica,arial,sans-serif;
$font-thin: 300;

// colors
$white:     #FFFFFF;
$black:     #000000;
$gray:      #e8e8e8;
$orange:    #FF4E00;
$blue:      #006BB6;

$color-email: #138bfd;
$color-facebook: #3b5998;
$color-twitter: #55acee;


//
// bootstrap vars -- customize bootstrap here, leave vendor files untouched
//

$font-family-sans-serif:    $font-sans;
$headings-font-family: $font-family-sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.5;
$grid-gutter-width:         30px;

// bootstrap theme colors (see docs for further customizations available)
$primary:       $orange;
$secondary:     $blue;
$dark:          #24242c;
$body-color:  #444444; // $text-color

//main theme colors.  Example usage: background-color: theme-color('blue');
$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "dark": $dark
);

// example other colors. Example usage: background-color: color('blue');
// $colors: (
//     "gray-light": $gray-light,
//     "blue" : $blue,
// );
