// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.aligncenter {
    display: block;
    margin: $font-size-base auto;
}

.alignleft,
.alignright {
    margin-bottom: ($font-size-base / 2);
}

@include media-breakpoint-up(sm) {
  // Only float if not on an extra small device
    .alignleft {
        float: left;
        margin-right: ($font-size-base / 2);
    }
    .alignright {
        float: right;
        margin-left: ($font-size-base / 2);
    }
}

// Captions
.wp-caption {
    @extend .img-thumbnail;
}
.wp-caption-text {
    @extend .figure-caption;
}

// Text meant only for screen readers
.screen-reader-text {
    @extend .sr-only;
    @extend .sr-only-focusable;
}
